body{
    font-family: 'Dosis', sans-serif;
    /*font-size: 18px;*/
}
.intro {
    display: table;
    width: 100%;
    height: 650px;
    /*text-align: center;*/
    color: white;
    background: url(/img/background_hd.jpg) no-repeat center;
    /*background-color: black;*/
}

h1{
    font-family: "Arial Black", Gadget, sans-serif !important;
    font-size: 4rem !important;
    color: teal !important;
}
h2{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: lightgoldenrodyellow;
}

h3{
    font-family: "Comic Sans MS", cursive, sans-serif;

}
.map-container{
    overflow:hidden;
    /*padding-bottom:56.25%;*/
    position:relative;
    height:300px;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}